In [1]:
pip install snscrape

Requirement already satisfied: snscrape in c:\programdata\anaconda3\lib\site-packages (0.4.3.20220106)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from snscrape) (4.11.1)
Requirement already satisfied: requests[socks] in c:\programdata\anaconda3\lib\site-packages (from snscrape) (2.28.1)
Requirement already satisfied: lxml in c:\programdata\anaconda3\lib\site-packages (from snscrape) (4.9.1)
Requirement already satisfied: filelock in c:\programdata\anaconda3\lib\site-packages (from snscrape) (3.6.0)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->snscrape) (2.3.1)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests[socks]->snscrape) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests[socks]->snscrape) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests[socks]->snscrape) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests[socks]->snscrape) (1.26.11)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from requests[socks]->snscrape) (1.7.1)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -ensorflow-gpu (c:\users\siddh\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-gpu (c:\users\siddh\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-gpu (c:\users\siddh\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-gpu (c:\users\siddh\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-gpu (c:\users\siddh\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-gpu (c:\users\siddh\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\programdata\anaconda3\lib\site-packages)

In [2]:
import snscrape
import os
import pandas as pd
from datetime import date

In [3]:
def get_date():
    today = date.today()
    end_date = today
    return end_date
end_date = get_date()
print(f"Todays date is {end_date}")

Todays date is 2022-09-10

# To make data clean and readable

In [4]:
def extract_usefull_columns(filename):
    df = pd.read_json(filename,lines=True)
    df = df[['renderedContent','id','user','lang','replyCount','date']]
    df['username'] = df['user'].apply(lambda x: x.get('username'))
    df['user_id'] = df['user'].apply(lambda x: x.get('id'))
    df['followersCount'] = df['user'].apply(lambda x: x.get('followersCount'))
    df = df[['user_id','username','id','date','renderedContent','lang','replyCount','followersCount','user']]
    df.rename(columns = {'renderedContent':'Tweet'}, inplace = True)
    df.drop('user',axis = 1,inplace=True )
    return df

# Fetch Tweets with Username @narendramodi user_name = narendramodi

In [5]:
def fetch_tweet_username(tweetNumber,from_date,user_name,filename):
    user_tweets = "snscrape"+ f" --json --max-results {tweetNumber} --since {from_date} twitter-user {user_name} > {filename}"
    print(f"file saving at current working directory {os.getcwd()} as {filename}")
    os.system(user_tweets)

# Only do changes in below area

In [6]:
tweetNumber=100
from_date='2022-09-08'
user_name='narendramodi'
filename='modi1.txt'

In [7]:
fetch_tweet_username(tweetNumber,from_date,user_name,filename)

file saving at current working directory C:\Users\siddh\Downloads as modi1.txt

In [8]:
df = extract_usefull_columns(filename)

In [9]:
df.head()

,user_id,username,id,date,Tweet,lang,replyCount,followersCount
0,18839785,narendramodi,1568516753931776002,2022-09-10 08:28:30+00:00,Shri BB Lal was an outstanding personality. Hi...,en,668,82343152
1,18839785,narendramodi,1568514545076895749,2022-09-10 08:19:43+00:00,Harnessing technology in key sectors like affo...,en,247,82343152
2,18839785,narendramodi,1568514446259113984,2022-09-10 08:19:20+00:00,India has a rich scientific history which we m...,en,312,82343152
3,18839785,narendramodi,1568473069483868161,2022-09-10 05:34:55+00:00,Addressing the Centre-State Science Conclave. ...,en,465,82343152
4,18839785,narendramodi,1568449678601244673,2022-09-10 04:01:58+00:00,"At 10:30 AM today, will be addressing the Cent...",en,495,82343152

# Extract tweet with hashtag

In [10]:
def fetch_tweet_hashtag(hashtag,tweetNumber_hashtag,from_date_hashtag,filename_hastag):
    hashtag_tweets = "snscrape"+ f" --json --max-results {tweetNumber_hashtag} --since {from_date_hashtag} twitter-hashtag {hashtag} > {filename_hastag}"
    print(f"file saving at current working directory {os.getcwd()} as {filename_hastag}")
    os.system(hashtag_tweets)

# Only do changes in below area

In [11]:
hashtag = "BharatJodoYatra"
tweetNumber_hashtag=100
from_date_hashtag='2022-09-08'
filename_hastag='bharat.txt'

In [12]:
fetch_tweet_hashtag(hashtag,tweetNumber_hashtag,from_date_hashtag,filename_hastag)

file saving at current working directory C:\Users\siddh\Downloads as bharat.txt

In [13]:
df2 = extract_usefull_columns(filename_hastag)

In [14]:
df2.head()

,user_id,username,id,date,Tweet,lang,replyCount,followersCount
0,1252814940492070912,MdMusha96876243,1568625484329807873,2022-09-10 15:40:33+00:00,‡§ü‡•Ä-‡§∂‡§∞‡•ç‡§ü ‡§™‡§∞ ‡§ö‡§∞‡•ç‡§ö‡§æ ‡§ï‡§∞‡§®‡•á ‡§µ‡§æ‡§≤‡•ã‡§Ç ‡§ï‡§π‡§æ‡§Ç ‡§π‡•ã @BJP4India...,hi,0,194
1,3186056474,kamaluddinINC,1568625483302207490,2022-09-10 15:40:33+00:00,‡§ï‡§æ‡§Ç‡§ó‡•ç‡§∞‡•á‡§∏ ‡§™‡•ç‡§∞‡§µ‡§ï‡•ç‡§§‡§æ @Pawankhera ‡§ú‡•Ä ‡§ï‡§æ ‡§¨‡•Ä‡§ú‡•á‡§™‡•Ä ‡§™‡§∞ ...,hi,0,13130
2,1324777971048087558,KhuntiNSUI,1568625483000217600,2022-09-10 15:40:33+00:00,"‡§Æ‡•á‡§∞‡•á ‡§π‡•å‡§∏‡§≤‡•ã‡§Ç ‡§Æ‡•á‡§Ç ‡§Ö‡§≠‡•Ä ‡§ú‡§æ‡§® ‡§¨‡§æ‡§ï‡•Ä ‡§π‡•à‡§Ç,\n\n‡§Ø‡•á ‡§§‡•ã ‡§¶‡•å‡§°...",hi,0,142
3,1477222983303237632,newssensetn,1568625464557842434,2022-09-10 15:40:29+00:00,üî¥LIVE: Savukku Shankar Latest: Rahul Gandhi-‡Æ©‡Øç...,und,0,87
4,76134964,Pawankhera,1568625462678818821,2022-09-10 15:40:28+00:00,This is the voice of the youth of India. Is De...,en,0,490298

# To fetch Tweet with searchQuery

In [15]:
def fetch_tweet_search(searchq,tweetNumber_s,filename_search):
    search_tweets = f"snscrape --json --max-results {tweetNumber} twitter-search \" {searchq} \" > {filename_search}"
    print(f"file saving at current working directory {os.getcwd()} as {filename_search}")
    os.system(search_tweets)

# Only do changes in below area

In [16]:
tweetNumber_s = 100
from_date_search = '2022-08-08'
lang = " lang:en" #Dont remove the space
search = "narendra modi"
searchq = search + lang
filename_search= "narendra.txt"

In [17]:
fetch_tweet_search(searchq,tweetNumber_s,filename_search)

file saving at current working directory C:\Users\siddh\Downloads as narendra.txt

In [18]:
df3 = extract_usefull_columns(filename_search)

In [19]:
df3.head()

,user_id,username,id,date,Tweet,lang,replyCount,followersCount
0,1276802518522052608,Jaikish27075079,1568625516504317953,2022-09-10 15:40:41+00:00,@MURUPALANIAPPAN @KishanB78388093 @wel1wisher ...,en,0,1
1,385921555,ritulistic,1568625514264535043,2022-09-10 15:40:40+00:00,@Qamarcheema @Arzookazmi30 @TahirGora @TarekFa...,en,0,171
2,1346428411904839681,SureshK03406519,1568625437110321156,2022-09-10 15:40:22+00:00,@mk98019 @ArbindP32190619 @SaileshKushwah5 @be...,en,0,3269
3,1897514666,dpradhanbjp,1568625363542245376,2022-09-10 15:40:04+00:00,PM @narendramodi‚Äôs inspirational life-journey ...,en,0,1827374
4,2567704558,RebelloAnil,1568625322035396608,2022-09-10 15:39:55+00:00,@SevadalKA @anjilikkan @narendramodi #CheatedH...,en,0,193